<form class='add-board-form' style='display: block;'>
<input 
  class='add-board-form' 
  type='text' 
  name='board[title]' 
  placeholder='insert new title'>

  <input class='add-board-form' type='submit'>
</form>