<% if user_signed_in? %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" id='sidebar'></div>
    <div class="span10" id='content'>
      <div id='modal-view'></div>
    </div>
  </div>
</div>
<% else %>

    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://i.imgur.com/TE9g0I5.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plan ahead and stay on task.</h1>

              <a class="btn btn-large btn-primary" href="users/sign_up">Sign up today</a>
              <a class="btn btn-large btn-danger" href="users/sign_in">Try demo account</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://i.imgur.com/6PQR50v.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Collaborate with other users.</h1>

              <a class="btn btn-large btn-primary" href="users/sign_up">Sign up today</a>
              <a class="btn btn-large btn-danger" href="users/sign_in">Try demo account</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://i.imgur.com/jb7vcVr.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Tired of listing chores on paper?</h1>

              <a class="btn btn-large btn-primary" href="users/sign_up">Sign up today</a>
              <a class="btn btn-large btn-danger" href="users/sign_in">Try demo account</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div><!-- /.carousel -->

      <div class='spacing'></div>
    
    <!-- <div class="container marketing"> -->

      <!-- Three Columns -->
      <div class="row column-row">
        <div class="span4">
          <span class='imgframe'>
            <img src="http://www.wrike.com/imgs/home/Full-featured_project_management_software_Wrike.png">
          </span>
          <h2>Jot down Ideas</h2>
          <p>No need for a notebook and a pencil. Simply sign in. Anywhere, anytime.</p>
        </div>
        <div class="span4">
        <span class='imgframe'>
            <img src="http://www.wrike.com/imgs/home/All_project_data_in_one_place_Wrike.png">
        </span>
          <h2>Chores for the Family</h2>
          <p>Why are you the only one stuck doing the dishes? Tell your loved one to take out the trash. And the recycling.</p>
        </div>
        <div class="span4">
        <span class='imgframe'>
            <img src="http://www.wrike.com/imgs/home/Email-integrated_project_management_software_Wrike.png">
        </span>
          <h2>Collaborate Now</h2>
          <p>Are you a team player? Um.brello brings the "team" to a player with its board-sharing feature for friends or colleagues.</p>
        </div>
      </div>

      <div class='spacing'></div>

           <footer class='container'>
             <p class="pull-right">
               <a href="#">Back to top</a>
             </p>
             
             <p>© 2013 created by Vincent Park · 
               <a href="http://vpark.me">My Site</a> · 
               <a href="https://github.com/vpark">Github</a> · 
               <a href="mailto:vincentpark@gmail.com">Email</a>
             </p>
           </footer>

         <!-- </div> -->

    <%end%>