<% if user_signed_in? %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" id='sidebar'></div>
    <div class="span10" id='content'></div>
  </div>
</div>
<% else %>

<style>
.carousel-inner > .item > img { margin: 0 auto; }
.carousel-caption {
      max-width: 100%;
      padding: 50px;
      margin:0 auto;
      margin-top: 200px;
      text-align:center;
      background: rgba(255, 255, 255, 0.75);
}


.imgframe {
  text-align: center;
  display: block;
}

/*.imgframe > img {
      display: block;
      margin-left: auto;
      margin-right: auto;
}*/

.spacing {
  height: 100px;
}
</style>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item">
          <img src="http://i.imgur.com/TE9g0I5.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plan ahead and stay on task.</h1>

              <a class="btn btn-large btn-primary" href="users/sign_up">Sign up today</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://i.imgur.com/6PQR50v.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Collaborate with other users.</h1>

              <a class="btn btn-large btn-primary" href="users/sign_up">Sign up today</a>
            </div>
          </div>
        </div>
        <div class="item active">
          <img src="http://i.imgur.com/jb7vcVr.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Tired of listing chores on paper?</h1>

              <a class="btn btn-large btn-primary" href="users/sign_up">Sign up today</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div><!-- /.carousel -->

      <div class='spacing'></div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4" style='text-align: center'>
          <span class='imgframe'>
            <img style="width: 140px; height: 140px;" src="http://www.sxc.hu/assets/182971/1829708653/notepad-1083254-m.jpg">
          </span>
          <h2 style='text-align: center'>Jot down Ideas</h2>
          <p>No need for a notebook and a pencil. Simply sign in. Anywhere, anytime.</p>
        </div><!-- /.span4 -->
        <div class="span4">
        <span class='imgframe'>
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="">
        </span>
          <h2>Chores for the Family</h2>
          <p>Why are you the only one stuck doing the dishes? Tell your loved one to take out the trash. And the recycling.</p>
        </div><!-- /.span4 -->
        <div class="span4">
        <span class='imgframe'>
            <img style="width: 140px; height: 140px;" src="http://www.sxc.hu/assets/182971/1829708653/notepad-1083254-m.jpg">
        </span>
          <h2>Collaborate Now</h2>
          <p>Are you a team player? Um.brello brings the "team" in a player with its board-sharing feature for friends or colleagues.</p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->

      <!-- FOOTER -->
      <div class='spacing'></div>
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2013 created by Vincent Park · <a href="https://github.com/vpark">Github</a> · <a href="mailto:vincentpark@gmail.com">Email</a></p>
      </footer>

    </div><!-- /.container -->

    <%end%>